body {
  padding: 0;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 0px 96px;
  position: static;
  /*width: 1440px;*/
  width: 2000px;
  height: 1223px;
  left: 0px;
  top: 73px;
  background: #fcfcfd;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.Top-nav {
  /* background-color: rgb(236, 236, 236);*/

  border-color: rgb(228, 223, 223);
  border-style: ridge;
  border-spacing: 20ch;
  text-decoration: 15px;
  overflow: hidden;
}
.Top-nav a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Top-nav a:hover:not(.activ) {
  background-color: rgb(189, 98, 231);
}

.right {
  float: inline-end;
}

/* Comienzo de la edición a unir*/
.HeaderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1440px;
  height: 130px;
  left: 0px;
  top: 48px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;

  position: static;
  width: 1280px;
  height: 130px;
  left: 80px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.TabsAndFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1500px;
  height: 40px;
  left: 32px;
  top: 90px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
/* Prueba Git HUB*/
.Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 320px;
  height: 40px;
  left: 958px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px -177px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 102px;
  height: 40px;
  left: 156px;
  top: 0px;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.Espacio {
  opacity: 0;
}
.filterhijo:hover {
  color: #000000;
  font-weight: bold;
}

.filterhijo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.dates:hover {
  color: #000000;
  font-weight: bold;
}
.dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.ButtonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 357px;
  height: 40px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.btn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  width: 102px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #f9fafb;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1d2939;
}

.btn1:hover {
  color: #000000;
  font-weight: bold;
}

.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 86px;
  height: 40px;
  left: 102px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn2:hover {
  color: #000000;
  font-weight: bold;
}

.btn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 76px;
  height: 40px;
  left: 189px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 0px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn3:hover {
  color: #000000;
  font-weight: bold;
}

.btn4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  width: 92px;
  height: 40px;
  left: 265px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  flex: none;
  order: 14;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn4:hover {
  color: #000000;
  font-weight: bold;
}

.CabeceraPage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContenidoPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1216px;
  height: 66px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}
.TextoSoporte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 112px;
  width: 1110px;
}
.BienvenidaSoporte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #101828;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.detallescuenta {
  position: static;
  width: 967px;
  height: 24px;
  left: 0px;
  top: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #667085;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.AccionesPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 258px;
  height: 40px;
  left: 958px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
  margin-left: 210px;
}

.btndeposito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.fundsend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  color: #f9fafb;
  background: #7f56d9;
  border: 1px solid #7f56d9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.contenedorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 32px;

  position: static;
  width: 1280px;
  height: 168px;
  left: 80px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.CuentaDesktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: static;
  width: 778px;
  height: 270px;
  left: 32px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 5px 94px;
  align-self: baseline;
  margin-left: 20px;
  margin-top: -79px;
  /*align-self: initial;*/
}

.donut {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background: conic-gradient(
    rgb(127, 86, 217) 0deg 80deg,
    rgb(158, 119, 237) 80deg 190deg,
    rgb(182, 146, 246) 190deg 230deg,
    rgb(214, 187, 251) 230deg 270deg,
    rgb(244, 235, 255) 270deg 360deg
  );
}
.hole {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
}
.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContenidoDesktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 404px;
  height: 114px;
  left: 168px;
  top: 24px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 24px;
}

.Cabecera {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 404px;
  height: 24px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.primaryacount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #101828;
  font-weight: bold;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 15px;
}

.IconoVertical {
  position: static;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.CurrentDesktop {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  font-size: 18px;
  color: #667085;
}

.Money {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 38px;
  display: flex;
}

.porcentaje {
  display: contents;
  font-family: "Inter";
  font-style: normal;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;

  position: static;
  left: 0px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #008236;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 45px 290px;
  font-size: 15px;
  background-color: green;
  color: green;
}

.NPresupuesto {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;

  position: static;
  width: 404px;
  height: 38px;
  left: 0px;
  top: 28px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.CuentaSecundaria {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 778px;
  height: 270px;
  left: 652px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-sizing: border-box;
  padding: 0px 0px;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px -62px;

  margin-top: -57px;
}

.donut2 {
  margin-top: 22px;
  margin-left: 22px;
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background: conic-gradient(
    #475467 0deg 80deg,
    #667085 80deg 190deg,
    #98a2b3 190deg 230deg,
    #d0d5dd 230deg 270deg,
    #f2f4f7 270deg 360deg
  );
}

.hole2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
}
.donut2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secundaryacount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #101828;
  font-weight: bold;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 25px 15px;
}

.porcentaje2 {
  display: contents;
  font-family: "Inter";
  font-style: normal;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;

  position: static;
  left: 0px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #008236;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 57px 309px;
  font-size: 15px;
  background-color: green;
  color: green;
}

.Tarjetageneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 950px;
  height: 420px;
  left: 0px;
  top: 0px;
  background: #ffffff;

  border: 1px solid #eaecf0;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  margin-left: 99px;
}

.SeccionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 1px;
  position: static;
  width: 744px;
  height: 29px;
  left: 24px;
  top: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}

.TextoHeader {
  position: static;
  width: 708px;
  height: 28px;
  left: 0px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #101828;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 16px;
}

.imagenH {
  left: 45.83%;
  right: 45.83%;
  top: 16.67%;
  bottom: 16.67%;

 margin-bottom: 25px;
}

.graficasEstadisticas{
    position: static;
width: 744px;
height: 200px;
left: 24px;
top: 73px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 66px 91px;
}
.Lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}

.Lista1 li {
    display:inline;
    padding-left:18px;
    padding-right:18px;
  
   color:gray;
}

/* Final de la edición a unir*/
