.Top-nav{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 1240px;
    height: 96px;
    left: 0px;
    top: 0px;
    
    
    background: #ffffff;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 100px;
    }
    
    .Top-nav .Divider{
        position: static;
        width: 1440px;
        height: 1px;
        left: 0px;
        top: 72px;
        
      
        
        background: #e6e3e3;
        
        
        
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    }
    
    .Top-nav .Contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 32px;
        
        position: static;
        width: 1280px;
        height: 72px;
        left: 80px;
        top: 0px;
        
       
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -1px 0px;
        background: #fffdfd;
    }
    
    .Top-nav .Contenedor .Contiene{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 306px;
        height: -128px;
        right: 32px;
        top: calc(50% - 40px/2);
        
       
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 80px;
        background: #ffffff;
    }
    
    
    
    .Top-nav .Contenedor .Contiene .Dropdow{
        position: static;
        width: 37px;
        height: 37px;
        left: 37px;
        top: 37px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -999px 260px;
        background: #ffffff;
    }
    
    .Top-nav .Contenedor .Contiene .Dropdwo .Drow{
        position: absolute;
    left: 1%;
    right: 1%;
    top: 1%;
    bottom: 1%;
    margin: 0px 400px;
    border: 1.67px solid #ffffff;
    }
    
    
    
    
    .Top-nav .Contenedor .Contiene .Accion{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: static;
        width: 100px;
        height: 40px;
        left: 166px;
        top: 0px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -400px;
        background: #ffffff;
    
    }
    
    .Top-nav .Contenedor .Contiene .Accion .NavIt{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        position: static;
        width: 18px;
        height: 18px;
        left: 18px;
        top: 0px;
        background: #ffffff;
        border-radius: 6px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 50px;
    }
    
    .Top-nav .Contenedor .Contiene .Accion .NavIt .bell{
        position: static;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        background: #ffffff;
        
    }
    
    .Top-nav .Contenedor .Contiene .Accion .NavIt .bell .BellIm{
        position: static;
        left: 12.5%;
        right: 12.5%;
        top: 8.33%;
        bottom: 8.35%;
        border: 1.66667px solid #ffffff;
    }
    
    
    
    
    .Top-nav .Contenedor .Contiene .Accion .NavC{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        position: static;
        width: 18px;
        height: 18px;
        left: 18px;
        top: 0px;
        background: #ffffff;
        border-radius: 6px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -128px;
    }
    
    .Top-nav .Contenedor .Contiene .Accion .NavC .Seting{
    
        position: static;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        background: #ffffff;
    }
    
    .Top-nav .Contenedor .Contiene .Accion .NavC .Seting .Icono{
        position: static;
        left: 12.5%;
        right: 12.5%;
        top: 8.33%;
        bottom: 8.35%;
        border: 1.66667px solid #ffffff;
    }
    
    
    
    
    
    .Top-nav .Contenedor .Contiene .Button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        position: static;
        width: 100px;
        height: 40px;
        left: 166px;
        top: 0px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 170px;
        background: #ffffff;
    }
    
    .Top-nav .Contenedor .Contiene .Button .BtnBase{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        position: static;
        width: 18px;
        height: 18px;
        left: 18px;
        top: 0px;
        background: #ffffff;
        border-radius: 6px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 50px;
    }
    
    .Top-nav .Contenedor .Contiene .Button .BtnBase{
    position: static;
    width: 90px;
    height: 20px;
    left: 44px;
    top: 10px;
    
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
    
    color: #000000;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 9px;
    border-color: rgb(255, 255, 255);
    }
    
    .Top-nav .Contenedor .Contiene .Button .BtnBase .Zap{
        position: static;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px -100px;
        background: #ffffff;
    }
    
    .Top-nav .Contenedor .Contiene .Button .BtnBase .Zap .Icono3{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    margin: -330px 335px;
    border: 0px solid #fafcff;
    }
    
    
    
    .Top-nav .Cont{
        
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 1280px;
    height: 72px;
    left: 80px;
    top: 0px;
    
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -630px;
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 600px;
        height: 60px;
        left: 158px;
        top: 0px;
        
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 730px;
    background: #fffefe;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 50px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 441px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    
    .Top-nav .Contenedor .Cont .Navegacion .Reporting{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 68px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -560px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #11e0e0;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #000000;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Tasks{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 50px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 440px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #000000;
    }
    
    
    .Top-nav .Contenedor .Cont .Navegacion .Logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 60px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -9px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Logo .Icono{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 240px;
    
    background: #ffffff;
    }
    
    
    .Top-nav .Contenedor .Cont .Navegacion .Projects{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 55px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -550px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #000000;
    }
    
    
    .Top-nav .Contenedor .Cont .Navegacion .Deshboard{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 73px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 415px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #000000;
    }
    
    
    .Top-nav .Contenedor .Cont .Navegacion .Home{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 45px;
        left: 158px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px -540px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #ffffff;
    }
    
    .Top-nav .Contenedor .Cont .Navegacion .Usuario .Content .Contente .Tex{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 45px;
        height: 35px;
        left: 150px;
        top: 0px;
       
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 2px;
    
    background: #000000;
    }
    
    /*
    .Top-nav .Contenedor .Cont .Navegacion .NavItem .Content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 45px;
    height: 24px;
    left: 12px;
    top: 8px;
    
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 105px;
    }
    .Top-nav .Contenedor .Cont .Navegacion .NavItem .Content .text{
    position: static;
    width: 45px;
    height: 24px;
    left: 0px;
    top: 0px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    
    color: #344054;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
    }*/

/* Comienzo de la edición a unir*/
.HeaderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1440px;
  height: 130px;
  left: 0px;
  top: 48px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.Contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;

  position: static;
  width: 1280px;
  height: 130px;
  left: 80px;
  top: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.TabsAndFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1500px;
  height: 40px;
  left: 32px;
  top: 90px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}
/* Prueba Git HUB*/
.Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 320px;
  height: 40px;
  left: 958px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px -177px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 102px;
  height: 40px;
  left: 156px;
  top: 0px;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.Espacio {
  opacity: 0;
}
.filterhijo:hover {
  color: #000000;
  font-weight: bold;
}

.filterhijo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.dates:hover {
  color: #000000;
  font-weight: bold;
}
.dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.ButtonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 357px;
  height: 40px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}

.btn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  width: 102px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #f9fafb;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1d2939;
}

.btn1:hover {
  color: #000000;
  font-weight: bold;
}

.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 86px;
  height: 40px;
  left: 102px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn2:hover {
  color: #000000;
  font-weight: bold;
}

.btn3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 76px;
  height: 40px;
  left: 189px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 0px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn3:hover {
  color: #000000;
  font-weight: bold;
}

.btn4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  width: 92px;
  height: 40px;
  left: 265px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 0px 8px 8px 0px;
  flex: none;
  order: 14;
  flex-grow: 0;
  margin: 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.btn4:hover {
  color: #000000;
  font-weight: bold;
}

.CabeceraPage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContenidoPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1216px;
  height: 66px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}
.TextoSoporte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 112px;
  width: 1110px;
}
.BienvenidaSoporte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #101828;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.detallescuenta {
  position: static;
  width: 967px;
  height: 24px;
  left: 0px;
  top: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #667085;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.AccionesPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 258px;
  height: 40px;
  left: 958px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
  margin-left: 210px;
}

.btndeposito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.fundsend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  color: #f9fafb;
  background: #7f56d9;
  border: 1px solid #7f56d9;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.contenedorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 32px;

  position: static;
  width: 1280px;
  height: 168px;
  left: 80px;
  top: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.CuentaDesktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: static;
  width: 778px;
  height: 270px;
  left: 32px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 5px 94px;
  align-self: baseline;
  margin-left: 20px;
  margin-top: -79px;
  /*align-self: initial;*/
}

.donut {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background: conic-gradient(
    rgb(127, 86, 217) 0deg 80deg,
    rgb(158, 119, 237) 80deg 190deg,
    rgb(182, 146, 246) 190deg 230deg,
    rgb(214, 187, 251) 230deg 270deg,
    rgb(244, 235, 255) 270deg 360deg
  );
}
.hole {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
}
.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContenidoDesktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 404px;
  height: 114px;
  left: 168px;
  top: 24px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 24px;
}

.Cabecera {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 404px;
  height: 24px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.primaryacount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #101828;
  font-weight: bold;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 15px;
}

.IconoVertical {
  position: static;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.CurrentDesktop {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  font-size: 18px;
  color: #667085;
}

.Money {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 39px;
  line-height: 38px;
  display: flex;
}

.porcentaje {
  display: contents;
  font-family: "Inter";
  font-style: normal;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;

  position: static;
  left: 0px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #008236;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 45px 290px;
  font-size: 15px;
  background-color: green;
  color: green;
}

.NPresupuesto {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;

  position: static;
  width: 404px;
  height: 38px;
  left: 0px;
  top: 28px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.CuentaSecundaria {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 778px;
  height: 270px;
  left: 652px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-sizing: border-box;
  padding: 0px 0px;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px -62px;

  margin-top: -57px;
}

.donut2 {
  margin-top: 22px;
  margin-left: 22px;
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background: conic-gradient(
    #475467 0deg 80deg,
    #667085 80deg 190deg,
    #98a2b3 190deg 230deg,
    #d0d5dd 230deg 270deg,
    #f2f4f7 270deg 360deg
  );
}

.hole2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
}
.donut2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secundaryacount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #101828;
  font-weight: bold;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 25px 15px;
}

.porcentaje2 {
  display: contents;
  font-family: "Inter";
  font-style: normal;
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;

  position: static;
  left: 0px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #008236;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 57px 309px;
  font-size: 15px;
  background-color: green;
  color: green;
}

.Tarjetageneral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 950px;
  height: 420px;
  left: 0px;
  top: 0px;
  background: #ffffff;

  border: 1px solid #eaecf0;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  margin-left: 99px;
}

.SeccionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 1px;
  position: static;
  width: 744px;
  height: 29px;
  left: 24px;
  top: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 20px 0px;
}

.TextoHeader {
  position: static;
  width: 708px;
  height: 28px;
  left: 0px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #101828;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 16px;
}

.imagenH {
  left: 45.83%;
  right: 45.83%;
  top: 16.67%;
  bottom: 16.67%;

 margin-bottom: 25px;
}

.graficasEstadisticas{
    position: static;
width: 744px;
height: 200px;
left: 24px;
top: 73px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 66px 91px;
}
.Lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}

.Lista1 li {
    display:inline;
    padding-left:18px;
    padding-right:18px;
  
   color:gray;
}

/* Final de la edición a unir*/
