
body{
    padding: 0;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;


}

.Top-nav{
  /* background-color: rgb(236, 236, 236);*/
  
   border-color: rgb(228, 223, 223);
   border-style: ridge;
border-spacing: 20ch;
   text-decoration: 15px;
   overflow: hidden; 

}
.Top-nav a{
 color: rgb(0, 0, 0);   
 display: block;
 padding: 14px 16px;
 float: left;
 text-decoration: none;
 text-align: center;
}


.Top-nav a:hover:not(.activ){
    background-color: rgb(189, 98, 231);

}

.right{
    float: inline-end;
}